@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /* color: #222a2e; */
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #333;
}

code,
pre {
  background: #2d2d2d;
  color: #a7adba;
}

code {
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
  color: #e81c4f;
}


